@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes rotateBackAndForth {
  0% { transform:  rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.userSpeakerAnim {  /* Targeting paths by their IDs */
  transform-origin: 500% 400%;
  animation: rotateBackAndForth 0.305s linear infinite;
}

.gibbidySpeakerAnim  {
  transform-origin: 300% 400%;
  animation: rotateBackAndForth 0.3s linear infinite;
}